.seach{
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 200px; */
    position: fixed;
    top: 28.5%;
    /* left: 50%; */
    right: -8%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #fff;
    padding: 20px;
    transition:  top 0.3s ease-in-out;
    z-index: 1;
    /* transition: top 0.3s ease-in-out; */
//     z-index: 1;
//    .form {
//     display: flex;
//    }
}