.banggia{
    background-color: #ccc;
    border-left: 4px solid red;
    height: 60px;
}
.rowbanggia{
    border: 2px solid #ccc;
    font-weight: bold;
    height: 50px;
    font-size: 15px;
}
.rowbanggia1{
    border: 2px solid #ccc;
    height: 50px;
    font-size: 15px;
}
.row6{
    border: 1px solid #ccc;
    height: 50px;
   p{
    font-size: 15px;
   }
}